spec:
  inputs:
    target_tag:
      type: string
      default: "v1.0.1"
      regex: ^v\d\.\d+(\.\d+)$
      description: "Release tag to run"
    size:
      type: number
      default: 4
      description: "Minimum word size"
    letters:
      type: string
      default: ""
      regex: "^[a-z]*$"
      description: "Letters to use"
    repeats:
      type: boolean
      default: true
      description: "Allow repeated letters"
---
include:
  - component: >-
      gitlab.com/frankhjung1/haskell-wordpuzzle/run-wordpuzzle@master

variables:
  TARGET_TAG: $[[ inputs.target_tag ]]
  SIZE: $[[ inputs.size ]]
  LETTERS: $[[ inputs.letters ]]
  REPEATS: $[[ inputs.repeats ]]

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: always
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - when: always

stages:
  - build
  - deploy

build_and_test:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE != "web"
      when: always
  image:
    name: frankhjung/haskell:${GHC_VERSION}
  variables:
    APP_VERSION: 1.0.1
    CABAL_CONFIG: ${CABAL_DIR}/config
    CABAL_DIR: ${CI_PROJECT_DIR}/.cabal
    DOC_DIR: >-
      dist-newstyle/build/x86_64-linux/ghc-${GHC_VERSION}/${PROJECT}-${APP_VERSION}/x/${PROJECT}/doc/html/${PROJECT}/${PROJECT}
    GHC_VERSION: 9.6.7
    PROJECT: wordpuzzle
  script:
    - make setup
    - make check
    - make build
    - make doc
    - mv ${DOC_DIR} public
    - make test
    - make bench
    - EXE_PATH=$(find dist-newstyle -name wordpuzzle -type f -executable | head -n 1)
    - cp "$EXE_PATH" release/wordpuzzle
    - cp dictionary release/dictionary
  artifacts:
    paths:
      - public
      - release
  before_script:
    - mkdir -p release
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - ${CABAL_DIR}

publish_pages:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE != "web" && $CI_COMMIT_BRANCH == "master"
  image: alpine:latest
  script:
    - echo Publish pages ...
  dependencies:
    - build_and_test
  artifacts:
    paths:
      - public

package_and_release:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/ && $CI_PIPELINE_SOURCE != "web"
  needs:
    - job: build_and_test
      artifacts: true
  script:
    - apk add --no-cache curl tar ca-certificates
    - echo "Packaging release for ${CI_COMMIT_TAG}"
    - tar -czf wordpuzzle-release.tar.gz -C release wordpuzzle dictionary
    - |
      curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file wordpuzzle-release.tar.gz \
      "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/wordpuzzle/${CI_COMMIT_TAG}/wordpuzzle-release.tar.gz"
  release:
    name: "Release ${CI_COMMIT_TAG}"
    description: "Autogenerated release for version ${CI_COMMIT_TAG}"
    tag_name: "${CI_COMMIT_TAG}"
    assets:
      links:
        - name: "wordpuzzle-release.tar.gz"
          url: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/wordpuzzle/${CI_COMMIT_TAG}/wordpuzzle-release.tar.gz"
