*.aux
*.chi
*.chs.h
*.code-workspace
dictionary
dist
dist-newstyle
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
.hpc
.hsenv
*.lock
*.log
.markdownlint.yaml
*.o
*.prof
public
.stack-work/
*.swp
tags
*.tix
.trunk
.vscode
