*.aux
cabal-dev
cabal.project.local
.cabal-sandbox/
cabal.sandbox.config
*.chi
*.chs.h
dictionary
dist
dist-*
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
.hpc
.hsenv
.HTF/
*.lock
*.log
*.o
*.prof
public
.stack-work/
*.swp
tags
*.tix
